.card {
    display: flex;
    align-items: center;
    width: 70vw;
    margin: 5vh 15vw 5vh 15vh;

}

.card-left {

}

.card-right {
    flex-direction: row-reverse;
}

.card-text {
    margin-right: 20px;
    margin-left: 20px;
}