:root {
    --Brighthighlight: #ffe761;
    --genericlight: #a8ccc9;
    --genericvivid: #357266;
    --contrastlight: #beb298;
    --contrastvivid:#65532f;
   
}

Header div {
    border: 1px red solid;
    display: flex;
    justify-content: space-around;
}


nav ul li {
    border: 1px red solid;
    display: inline; 
    list-style: none;
  
}

#Contact {
    border: 1px red solid;
    text-align: center;
}

#Skills {
    border: 1px red solid;
}

#portrait {
    border: 1px red solid;
}

#About-Me {
    border: 1px red solid;
}

#Work {
    border: 1px red solid;
}

footer {
    border: 1px red solid;

}