:root {
    --Generic: #ffe761;
    --lightColorCne: #a8ccc9;
    --darkColorOne: #357266;
    --lightColorTwo: #beb298;
    --darkColorTwo:#65532f;
}

body {
    margin: 0px;
}

h2 {
    width: 10%;
    height: auto;
    margin: 11px 0 0 10px;
    text-align: center;
}

p {
    width: 600px;
}

a {
    text-decoration: none;
}

#hero {
    height: 300px;
    width: 100%;
    background-image: url(../images/Copy\ of\ Promo\ Pic\ 2\ Opus\ One\ \(YouTube\ Thumbnail\).png);
    background-size: cover;
    background-position: center;
    margin: 0px;
}

Header div {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    gap: 20px
}

nav ul li {
    display: inline; 
    list-style: none;
}
#Contact-Me {
    display: flex;
    gap: 40px;
}

#Contact-Me ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    align-items: center;
}

#portrait {
    width: 20%;
    Height: auto;
    border-radius: 50%;
    padding: 10px;
}

#About-Me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#About-Me p {
    width: 60%;
    margin: 0 26px 0 0;
}

#Work {
    display: flex;
    flex-direction: column;
    margin: 0 264px 0 0;
}
.Work div {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}
.Work-Images {
  display: flex;
  width: 700px;
  gap: 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer {
    border: 1px red solid;

}