nav {
    display: flex;
}
.curtain-closed {
    height: 100vh;        
    border-bottom: 5px solid blue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s; 
}

ul {
    display: flex;
    padding-inline-start: 0px;
}

li {
    list-style: none;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.closed-title {
    text-align: center;
    width: 100vw;
    transition: opacity 1s ease;
    
}

.closed-ul {
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: center;

    transition: opacity 1s ease;
}

.curtain-open {
    height: 15vh;
    border-bottom: 5px solid blue;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all 1s;
}

.open-title {
    margin-left: 1%;
    transition: opacity 1s ease;
}

.open-ul {
    margin-left: 15px;
    transition: opacity 1s ease;
}
